<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
</nav>


<div class="d-flex justify-content-center container about-me">
    <div>
        <h1 class="text-center">Shivama</h1>
        <p class="text-center lead">Web Developer | Tech Enthusiast | Lifelong Learner</p>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p>Hello! I'm Shivama, a passionate web developer specializing in creating responsive and user-friendly websites. With expertise in Web Development, I aim to deliver top-notch digital solutions.</p>
            <p>Feel free to explore my work, connect with me on LinkedIn, or check out my GitHub for more about my coding journey.</p>
        </div>
    </div>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/shivam-a-4938b7238/" target="_blank" class="mt-5 text-primary">LinkedIn</a>
        <a href="https://shivama-max.github.io/portfolio/" target="_blank" class="text-success">Portfolio</a>
        <a href="https://github.com/Shivama-Max" target="_blank" class="text-dark">GitHub</a>
    </div>
</div>
